*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



.navbar-brand img{
    width: 115px;
    background: #F5B041;
    margin: 10px 0;

}

header{
    background:#76F9F9; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 1040;
    position: fixed;     
}


nav{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
}

.menu >  li, .menu > a{
    display: inline-block;
}

.menu li{
    position: relative;
}

.menu a{
    font-weight: 600;
    text-decoration: none;
    color:#f92504;
    display: block;
    padding: 10px 1.5rem;
    transition: background-color .22s ease, color .22s ease;
}

.menu a:hover{
    background:#F5B041 ;
    color: #fff;
}

.menu a:active{
    background:#F5B041;
    color: #fff;
}

/* COURSE SUB-MENU STYLE */
.CourseMenu{
    position: absolute;
    background: #76F9F9 ;
    width: 250px;
    display: none;
}

/* ACADEMIC SUB-MENU STYLE */
.subMenu{
    position: absolute;
    left: 100%;
    width: 270px;
    top: 0;
    background: #76F9F9;
    display: none;
}

/* SHOW MENU ON HOVER STYLE */
.menu li:hover > .CourseMenu{
    display: block;
}

.menu li:hover > .subMenu{
    display: block;
}

.ITmenu{
    position: absolute;
    background: #76F9F9;
    display: none;
}

.menu li:hover > .ITmenu{
    display: block;
}


.hero img{
    object-fit: cover;
    width: 100%;
    margin: 80px 0 0;
}

.staff .card-img img{
    width:70%
}


.queries{
    padding: 70px 0;
    background: #FF5733 
}

/* standard cards */

.std_card{
    position: relative;
    left: -6%;
    width: 318px;
    height: 320px;
    transition: 0.3s ease-out;
    box-shadow:  0 3px 15px rgba(0, 0, 0, 0.7);
}

.std_card.imgBox{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;   
}

.std_card.imgBox img{
    position: absolute;
    top: 0;
    left: 8%;
    width: 100%;    
    height: 80%;
    display: block;
    transition: 0.5s;
}

.std_card .content{
    position: absolute;
    left: 0;
    bottom: 0 ;
    width: 320px;
    height: 50%;
    padding: 12px ;
    background:#fff ;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;

}

.std_card:hover .content{
    width: 100%;
    height: 80%;
    left: 0;
    bottom: 0;
}

.most_popular_courses{
    padding: 70px 0;
}

.slick-prev{
    background: #0275d8 !important;
    padding: 0 20px !important;
    left: -3% !important;
    width: 50px !important;
    height: 22px !important;


}

.slick-next{
    background: #0275d8 !important;
    padding: 0 20px !important;
    right: -3% !important;
    width: 50px !important;
    height: 22px !important;

}

.level h5{
    background: #C3C8CD;
    border-radius: 10px;
}

.IT-web-section .card{
    border-radius:0px 0px 20px 20px;

}

.bootstrap img{
    width: 89%;
}

.illu {
    width: 77%;
}

.corel{
    width: 85%;
}

.indesign{
    width: 75%;
}
.consulting{
    padding: 40px 0;
    background: #F6C293;
    color: #f92504 
}


.form-section{
    padding: 50px 0;
}

footer{
    padding:40px 0;
    background: #FF5733;
    
}

footer ul{
    list-style: none;
}

.footer-points a{
 font-weight: 400;
 text-decoration: none;
 color: #fff;
}


#scroll-btn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #f92504;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.mapArea{
    padding: 40px 0;
}

iframe{
    width: 1100px; 
    height: 250px ;
}

@media screen and (min-width:768px) {



    .menu >  li, .menu > a{
        display: flex;
    }

    .staff .col-md-12:nth-of-type(3n-1){
        margin: 60px 0;
    }

    .queries .col-md-12:nth-of-type(3n-1){
        margin: 60px 0;
    }

    .std_card{
        left:27%
    }

    /* COURSE SUB-MENU STYLE */
/* .CourseMenu{
    position: fixed;
    background: rebeccapurple ;
    width: 250px;
    left: 25%;
    display: fixed;
} */

/* ACADEMIC SUB-MENU STYLE */
/* .subMenu{
    position: absolute;
    left: 100%;
    width: 270px;
    top: 0;
    background: rebeccapurple;
    display: none;
} */

/* SHOW MENU ON HOVER STYLE */
/* .menu li:hover > .CourseMenu{
    display: block;
} */

/* .menu li:hover > .subMenu{
    display: block;
} */

.ITmenu{
    position: absolute;
    background: #76F9F9;
    display: none;
}

.menu li:hover > .ITmenu{
    display: block;
}

.slick-prev{
    background: #0275d8 !important;
    padding: 0 20px !important;
    left: -3% !important;
    width: 50px !important;
    height: 22px !important;


}

.slick-next{
    background: #0275d8 !important;
    padding: 0 20px !important;
    right: -3% !important;
    width: 50px !important;
    height: 22px !important;

}

iframe{
    width: 715px; 
    height: 250px ;
}

}

@media screen and (min-width:1200px) {

    .menu >  li, .menu > a{
        display: inline-block;
    }

    .staff .col-md-12:nth-of-type(3n-1){
        margin:0;
    }

    .queries .col-md-12:nth-of-type(3n-1){
        margin:0;
    }

    .std_card{
        left: -6%;
    }

    iframe{
        width: 1100px; 
        height: 250px ;
    }
}